body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #header {
    background: url('header-background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px 20px;
  }

  
  .offer-details {
    height:300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3px;
    padding: 10px;

  }

  #header div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0 0;
    font-size: 10px;
  }
  
  .shop-button {
    background-color:#007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top:20px;
    border: none;
    cursor: pointer;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  
  .product {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    width: 250px;
  }
  
  .product img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    gap: 0;/* Adjust the negative margin to remove the gap */
  }
  
  .product h2 {
    color: rgb(116, 32, 32);
    font-size: 1.2em;
    margin: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  